exportPattern("^[[:alpha:]]+")
importFrom("yacca",cca)
importFrom("miscTools",insertRow)
importFrom("plotrix",plotCI)
importFrom("boot",boot, boot.ci)
importFrom("graphics", "axis", "par", "title")
importFrom("stats", "coef", "cor", "cor.test", "fitted.values", "lm", "model.frame", "model.matrix", "na.omit", "sd", "var")
importFrom("utils", "combn")